.form-container{
    background-color: #baabab;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    border-radius: 8px;
}

.input{
    margin-bottom: 10px;
}

.input > input {
    padding: 20px;
    border-radius: 9px;
    border: none;
    width: 100%;
}
.input > label {
    font-size: 23px;
    font-weight: 600;
    color: #242323;
}

.action > button{
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.action > button:hover{
    background-color: #636161;
    box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, 0.735);
}